.card {
display: flex;
flex-direction: column;
background: #2c2b2b;
border: 1px solid #494949;
border-radius: 5px;
padding: 20px;
cursor: pointer;
-moz-osx-font-smoothing: grayscale;
backface-visibility: hidden;
transform: translateZ(0);
transition: transform 0.25s ease-out;
}

.card:hover {
    transform: scale(1.05);
}